.container {
    height: 100%;
    margin-top: 30px;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, auto));
}

.pagenation {
    display: flex;
    justify-content: center;
    height: 100px;
}

.pageList {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pageList a {
    font-weight: 900;
    color: #6255f6;
    background: none;
    text-decoration: none;
    font-size: 20px;
    color: #dcdce6;
    line-height: 60px;
}

.pageList a.isActive {
    color: #6255f6;
}
