@keyframes run-man {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(200px, 0px);
    }
}

.Loading {
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 50px;
    color: #6255f6;
}

.runningIcon {
    animation: run-man 1s linear forwards; /* 애니메이션 적용 */
}
