.slideContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 600px;
    padding: 0px;
    margin-top: 80px;
}

.slideTitleArea {
    margin: 0 auto;
}

.slideListsArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 704px;
    padding: 32px;
    gap: 32px;
}

.slideTitle {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    min-height: 70px;
    padding: 20px 0;
    font-size: 70px;
    font-weight: 900;
    color: #74eb8b;
    line-height: 70px;
    text-decoration: none;
}

.slideTitle:hover {
    color: #6255f6;
}
